%table.email
  %tr.subject
    %th="Subject"
    %td=email.subject
  %tr.date
    %th="Date"
    %td=email.date
  %tr.from
    %th="From"
    %td=email.from
  %tr.to
    %th="To"
    %td=email.to
  %tr.cc
    %th="Cc"
    %td=email.cc
  %tr.sig
    %th="Signature"
    %td{:"data-json" => email.sigs.to_json}
    
%pre=email.body

:javascript
  "use strict";
  document.addEvent('domready', function() {
    var container=document.getElement("table.email tr.sig td");
    var data = container.getAttribute("data-json");
    var sigs=JSON.decode(data);
    sigs.each(function(sigdata) {
      new Signature(sigdata, container);
    });
  });
