!!!

%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="keywords" content="wikileaks podesta email HRC clinton DKIM verification search engine")
    %meta(name="description" content="Check the cryptographically authentication of wikileaks emails.")
    
    -#%link(rel="icon" href="/icons/tiny.png" sizes="16x16" type="image/png")
    -#%link(rel="icon" href="/icons/small.png" sizes="32x32" type="image/png")
    -#%link(rel="icon" href="/icons/iphone.png" sizes="57x57" type="image/png")
    -#%link(rel="icon" href="/icons/icon.svg" sizes="any" type="image/svg+xml")
    
    %script(type="text/javascript" src="/js/mootools-core.js")
    %script(type="text/javascript" src="/js/mootools-more.js")
    %script(type="text/javascript" src="/js/NchanSubscriber.js")
    %script(type="text/javascript" src="/js/common.js")
    
    %link(rel="stylesheet" type="text/css" href="/css/styles.css")
    
    %title="Authentileaks - Irrefutably authentic emails from the Podesta email leaks."
  
  %body
    .header
      %h1="Authentileaks"
      %p="Irrefutably authentic emails from the Podesta email leaks"
      
      %form#gotoemail(action="/email")
        %label(for="emailid")="Email id" 
        %input#emailid(name="emailid" type="text")      
        %input(value="go" type="submit")
      
    #page.page=yield
    
